@import "tailwindcss";
@import './responsive.css';

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: #c9d1d9;
  font-family: 'JetBrains Mono', monospace;
}
